*{
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 25px;
  background: #2c3e50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
  
}
.row {
  text-align: center;
  margin-bottom: 5px;
}
.weather-widget {
  padding: 20px 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  justify-items: center;
  position: relative;
  color: white;
  width: 25%;
  z-index: 9999;

}

.form_container {
  text-align: center;
}


.weather_contanier{
  display: flex;
  width: 900px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  border-radius: 35px;
  overflow: hidden;
  -webkit-box-shadow: inset 0px 0px 4px 0px rgb(0 0 0 / 55%);
  -moz-box-shadow: inset 0px 0px 4px 0px rgb(0 0 0 / 55%);
  box-shadow: inset 0px 0px 4px 0px rgb(0 0 0 / 55%);
}

.dropdown_weather{

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 35px;
}

.weather-icon {
  font-size: 5rem;
  animation: rotation 5s infinite linear;
}

.temp-c {
  margin-bottom: 20px;
}

.location-country {
  color: #fff;
  font-weight: 300;
}
.weather-forecast {
  width: 75%;
}
.forecast-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff47;
  padding: 20px;
  transition: all 0.2s;
  color: #fff;
}

.forecast-item:last-child {
  border-bottom: none;
} 

.forecast-item h4 {
  font-weight: 400;;
}
.forecast-item h4 span {
  font-weight: 600;
}

.forecast-item:hover {
  background-color: #ffffff2e;
  cursor: pointer;
}
.forecast-item h6 {
  color: #888;
  margin-top: 5px;
}
.forecast {
  text-align: right;
}

@media only screen and (max-width: 600px) {
  .body {
    flex-flow: column;
  }
  .weather-widget {
    width: 100%;
  }
  .weather-forecast {
    width: 100%;
  }
  .temp-c {
    margin-bottom: 7px;
  }
}


.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
  


  
}    .select select {
  font-family: 'Arial';
  display: inline-block;
  width: 90%;
  cursor: pointer;
  padding: 10px 15px 10px 6px;
  outline: 0;
  border: 0px solid #000000;
      border-bottom-color: rgb(0, 0, 0);
      border-bottom-style: solid;
      border-bottom-width: 0px;
  border-radius: 0px;
  background: none;
  color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0 auto !important;
  border-bottom: 1px solid #ddd;
  transition: all 0.2s;
  }
      .select select::-ms-expand {
          display: none;
      }
      .select select:hover,
      .select select:focus {
          color: #fff;
          background: #20394d;
          border-radius: 7px;
          
      }
      .select select:disabled {
          opacity: 0.5;
          pointer-events: none;
      }
.select_arrow {
  position: absolute;
  top: 18px;
  right: 15px;
  pointer-events: none;
  border-style: solid;
  border-width: 5px 3px 0px 3px;
  border-color: #fff transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
  border-top-color: #fff;
}
.select select:disabled ~ .select_arrow {
  border-top-color: #cccccc;
}

.havadurumuSunanAdam {
  width: 225px;
  height: 228px;
  position: absolute;
  left: 0;
  top:0;
  background: url(components/img/hava-durumu-sunan-adam.png);
  background-repeat: no-repeat;
  background-size: 177px; 
}

.havadurumuSunanAdamOne {
  width: 225px;
  height: 166px;
  position: absolute;
  left: 20px;
  bottom: 0;
  background: url(components/img/gokhan-abur.png);
  background-repeat: no-repeat;
  background-size: 177px; 
}

.weatherView {
  background: rgb(0 0 0 / 14%);
  box-shadow: inset 0px 0px 4px 0px rgb(0 0 0 / 55%);
  width: 90%;
  margin: 0 auto;
  position: relative;
  bottom: 20px;
}


